<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare</title>
</head>
<body>
    
  

<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Tesla Statistics</th>
            <th scope="col">Car 1</th>
            <th scope="col">Car 2</th>
            <th scope="col">Car 3</th>
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <th scope="row">Brand</th>
            <td>${compareCars.brand[0]}</td>
            <td>${compareCars.brand[1]}</td>
            <td>${compareCars.brand[2]}</td>
          </tr>
          <tr>
            <th scope="row">Model</th>
            <td>${compareCars.model[0]}</td>
            <td>${compareCars.model[1]}</td>
            <td>${compareCars.model[2]}</td>
          </tr>
          <tr>
            <th scope="row">Year</th>
            <td>${compareCars.year[0]}</td>
            <td>${compareCars.year[1]}</td>
            <td>${compareCars.year[2]}</td>
          </tr>
          <tr>
            <th scope="row">Top Range (mi)</th>
            <td>${compareCars.topRange_mi[0]}</td>
            <td>${compareCars.topRange_mi[1]}</td>
            <td>${compareCars.topRange_mi[2]}</td>
          </tr>
          <tr>
            <th scope="row">Bot Range (mi)</th>
            <td>${compareCars.botRange_mi[0]}</td>
            <td>${compareCars.botRange_mi[1]}</td>
            <td>${compareCars.botRange_mi[2]}</td>
          </tr>
          <tr>
            <th scope="row">Top Range (km)</th>
            <td>${compareCars.topRange_km[0]}</td>
            <td>${compareCars.topRange_km[1]}</td>
            <td>${compareCars.topRange_km[2]}</td>
          </tr>
          
          <tr>
            <th scope="row">Bot Range (km) </th>
            <td>${compareCars.botRange_km[0]}</td>
            <td>${compareCars.botRange_km[1]}</td>
            <td>${compareCars.botRange_km[2]}</td>
          </tr>
          <tr>
            <th scope="row">Top KWh 100 mi </th>
            <td>${compareCars.top_kWh_100mi[0]}</td>
            <td>${compareCars.top_kWh_100mi[1]}</td>
            <td>${compareCars.top_kWh_100mi[2]}</td>
          </tr>
          <tr>
            <th scope="row">Bot KWh 100 mi</th>
            <td>${compareCars.bot_kWh_100mi[0]}</td>
            <td>${compareCars.bot_kWh_100mi[1]}</td>
            <td>${compareCars.bot_kWh_100mi[2]}</td>
          </tr>
          <tr>
            <th scope="row">Top KWh 100 km</th>
            <td>${compareCars.top_kWh_100km[0]}</td>
            <td>${compareCars.top_kWh_100km[1]}</td>
            <td>${compareCars.top_kWh_100km[2]}</td>
          </tr>
          <tr>
            <th scope="row">bot KWh 100 km</th>
            <td>${compareCars.bot_kWh_100km[0]}</td>
            <td>${compareCars.bot_kWh_100km[1]}</td>
            <td>${compareCars.bot_kWh_100km[2]}</td>
          </tr>
          
          


          
          
          
          

          
        </tbody>
      </table>
</div>






</body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>